<head>
  <!-- Required meta tags -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Eden guide</title>
  <!-- Bootstrap CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>

  <script  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="  crossorigin="anonymous"></script>
  
  <link rel="shortcut icon" href="https://cdn.glitch.com/8c45d4b3-df9c-4351-8246-870093fc35d2%2Ffavicon.ico?1526965132661"/> 
  <link rel="icon" type="image/png" href="https://cdn.glitch.com/8c45d4b3-df9c-4351-8246-870093fc35d2%2Ffavicon-32x32.png?1526965132931" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://cdn.glitch.com/8c45d4b3-df9c-4351-8246-870093fc35d2%2Ffavicon-16x16.png?1526965132349" sizes="16x16" />
  
  <style>
      html {
        padding: 20px;
      }
  </style>
  
  <script>
    config = {
      version : "{{version}}",
      changeLog: {{{toJSON changeLog}}},
      lang: "{{lang}}"
    }
        
    $(function(){
      window.client.translator.config = config;
      $(document).trigger("language");
    })
    
    serverRender = false
  </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112999284-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112999284-1');
</script>
  
  
  <link rel="stylesheet" href="/common.css"></link>

  {{> common-scripts}}
  {{> header-bar}}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
