<html lang="en">
  {{> header}}
  
  Enter your code: <input class="form-control code" type="text"></input>

<button style="margin: 10px 0px;" class="btn btn-outline-primary get-code" type="button">Get new code</button>
<pre class = "new-code"></pre>

 <script>
   
   $(".get-code").click(function(){
     
     fetch("/convert", {
      method: 'post',
      headers: {
        'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({code: $(".code").val()})
    }).then(r => r.json()).then(code => $(".new-code").text(code.error ? code.error : Object.keys(code).map(k => k + '\n' + code[k].join('\n')).join('\n'))).catch(err => $(".new-code").text(err));
     
   });
  </script>

</html>