<html>
  
  {{> header}}

	<body>
    <div style="display: table;margin: auto;" class = "text-center">
      <img width="250" height="281" src = "https://media.tenor.com/images/5e5284afbdd751dfdf480652fe4364df/tenor.png" style="margin-bottom:20px"></img>
      {{> show-errors}}
    </div>
  </body>
  
</html>