<html>
	
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
		<script src="items.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
		<link rel="stylesheet" href="style.css">
	</head>
  
	<body>
    <h1 class = "text-center title">Eden Item guide v1.3.1</h1>
    <h4 class = "text-center">Note that this guide is intended for levels 350+. Some items you might need to be up to level 400 before you can use them</h4>
		
    <select class = "raid">
      <option selected>Choose raid / Boss / Chest</option>
      <option>Amon of Hellfire</option>
      <option>Archangel of Valor</option>
      <option class = "chest">Archangel’s Assistance</option>
      <option class = "chest">Archangel’s Trinket</option>
      <option>Avatar of Insanity</option>
      <option>Beresa of the Black Earth</option>
      <option>Belial of Pain</option>
      <option>Black Soul Stone</option>
      <option>Blue Dragon</option>
      <option>Celestial Waterstone</option>
      <option>Devil Lord Hellgainer</option>
      <option>Devil of Agony’s Treasure Chest</option>
      <option>Devil of Despair</option>
      <option>Destroyer</option>
      <option class = "boss">Dwarven Siege Machine</option>
      <option>Elemental Treant</option>
      <option>Heaven's Guardian</option>
      <option>Mother Tree</option>
      <option class = "boss">Silverback Wolf</option>
      <option>Remnants of the Archdemon</option>
      <option class = "boss">Revenant of Meditation</option>
    </select>
    
    <table id="table"></table>
    
    <div class="panel panel-info planned">
      <div class="panel-heading">
        Planned Features
      </div>
      <div class="panel-body">
        <ul class="list-group"> 
          <li class="list-group-item">Be able to choose an item of each type (desired gear) to view whole equipement stats and materials needed</li>
          <li class="list-group-item">Be able to choose txt code file to show actually missing materials for desired gear</li>
        </ul>
      </div>
    </div>
    
    <div class = "footer text-center">
        <a class = "btn btn-info" href = "/changelog">View Changelog</a>
      <a class = "btn btn-info" href = "/chars">View Characters</a>
    </div>

	</body>
  
  <script src = "client.js"></script>

</html>