
<link rel="stylesheet" href="bootstrap-table.css">
<link rel="stylesheet" href="style.css">
  
	<body>
    <div class = "float-right language">
      <img class = "kor" src = "https://cdn.glitch.com/8c45d4b3-df9c-4351-8246-870093fc35d2%2Fkorea_flag.jpg?v=1590117131983" width = "80" height = "40"></img>
      <img class = "eng" src = "https://cdn.glitch.com/8c45d4b3-df9c-4351-8246-870093fc35d2%2Fusa_flag.png?v=1590117105810" width = "80" height = "40"></img>
    </div>
    <h1 class = "text-center title">Eden {{text 'item guide' lang}} v{{version}}</h1>
    <h4 class = "bugged title"></h4>
    <select class = "raid capitalize"></select>
    
    <table id="table"></table>

	</body>
  
<script src="bootstrap-table.js"></script>
<script src="bootstrap-table-kor.js"></script>
