
<link rel="stylesheet" href="bootstrap-table.css">
<link rel="stylesheet" href="style.css">
  
	<body>
    <div class = "float-right language">
      <img class = "kor" src = "https://images-na.ssl-images-amazon.com/images/I/41DKT4DM17L.jpg" width = "80" height = "40"></img>
      <img class = "eng" src = "https://cdn2.iconfinder.com/data/icons/us-flags-square/512/United_States-256.png" width = "80" height = "40"></img>
    </div>
    <h1 class = "text-center title">Eden {{text 'item guide' lang}} v{{version}}</h1>
    </h4>
    <select class = "raid capitalize">

    </select>
    
    <table id="table"></table>

	</body>
  
<script src="bootstrap-table.js"></script>
<script src="bootstrap-table-kor.js"></script>
