.language .selected {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

div .btn:not(:first-child) {
  margin-left: 20px;
}

body {
  padding-top: 5rem;
}

.header {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.header a.nav-link:not(.dropdown-toggle) {
  text-transform: uppercase;
}

.fa {
  margin-right: 5px;
}

.header .dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

.fa-star.far {
  font-weight: 200;
}

.star:not(.disabled) {
  cursor: pointer;
}

.fa-star {
  color: orange;
  margin-left: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.list-group pre {
white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;   
}

.items-build .tab-pane .col-2 {
  align-items: center;
  display: flex;
}

.items-build .tab-pane .row + .row {
  border-top:0px;
}
.items-build .tab-pane .row {
  border: 1px solid rgba(0,0,0,.125);
  padding: 5px;
}