.language .selected {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

div .btn:not(:first-child) {
  margin-left: 20px;
}

body {
  padding-top: 5rem;
}

.header {
  background-color: #4a92d0 !important;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.header a.nav-link:not(.dropdown-toggle) {
  text-transform: uppercase;
}



.header .dropdown-menu {
    right: 0 !important;
    left: auto !important;
}