.purple {
  color : #9859D8;
}

.orange {
  color : #F7950E;
}

.blue {
  color : #4FC3D6;
}

.red {
  color : red;
}

.darkred {
  color : darkred;
}

.tooltip-inner {
    max-width: 300px; 
} 

.tooltip {
  min-width: 150px;
}

.item-tooltip {
    white-space: nowrap;
}