.purple {
  color : #9859D8;
}

.orange {
  color : #F7950E;
}

.blue {
  color : #4FC3D6;
}

.fixed-table-body {
  height: auto;
}

body {
  width : 80%;
  margin : auto;
}

div.text-left {
  margin-bottom: 10px;
  margin-left : 10px;
}

.planned {
  margin-top : 50px
}

.title {
  margin-bottom : 20px;
}

.capitalize {
    text-transform : capitalize;
}

.red, .god {
  color : red;
}

.darkred {
  color : darkred;
}

.god {
  color: deepskyblue;
}

html{
  margin-bottom : 30px;
}


.footer {
  line-height: 60px;
  background-color: #f5f5f5;
  position: sticky;
  bottom: 0px;
}

.badge:not(:first-child) {
    margin-left:10px;
}